[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
black = "*"
flake8 = "*"
isort = "*"
psycopg2-binary = "*"
django-stubs = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
